.btn {
  &:link,
  &:visited {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.3rem 2.5rem;
    border-radius: 10rem;
    transition: all 0.4s;
    font-weight: 400;
    position: relative;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    color: $color-white;
    background-color: #00e6ac;
    &::after {
      background: #00e6ac;
    }
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 100px;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveinbutton 1s ease-out;
    animation-delay: 0.7s;
    animation-fill-mode: backwards;
  }
}
.btn-text {
  &:link,
  &:visited {
    display: inline-block;
    padding: 0 1px 0.5rem 1px;

    text-decoration: none;
    font-size: 1.6rem;
    color: $color-primary-dark;
    border-bottom: 1px solid $color-primary-dark;
    transition: all 0.2s;
  }
  &:hover {
    background-color: $color-primary-dark;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 1rem 1rem rgba($color-black, 0.15);
    transform: translateY(0px);
  }
}
